* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout classes */
.top-section {
    display: flex;
    height: calc(100vh - 100px);
    background-color: aqua;
}

.bottom-section {
    height: 100px;
    background-color: #282828;
}

.sidebar {
    width: 75px;
    background-color: #000000;
}

.main-content {
    width: calc(100vw - 75px);
    background-color: #141922;
}

header {
    width: calc(100vw - 75px);
    position: fixed;
    left: 75px;
    top: 0;
    z-index: 1;
    background-color: #090B11;
    height: 100px;
    align-content: center;

}

.upgrade-plan {
    display: flex;
    justify-content: right;
}



/* Utilities */




/* Style classes */

.ft-white {
    color: #fff;
}

#upgrade-btn {
    padding: 10px 30px;
    background-color: #090B11;
    border: 2px solid #fff;
    border-radius: 30px;
    font-weight: 700;
    margin-right: 5px;
}


/* Media Query */
@media screen and (min-width: 639px) {
    .sidebar {
        width: 150px;
    }

    .main-content {
        width: calc(100vw - 150px);
    }

    header {
        width: calc(100vw - 150px);
        left: 150px;
    }
}