* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout classes */
.top-section {
    display: flex;
    height: calc(100vh - 100px);
    background-color: aqua;
}

.bottom-section {
    height: 100px;
    background-color: #282828;
}

.sidebar {
    width: 75px;
    background-color: #000000;
}

.main-content {
    width: calc(100vw - 75px);
    background-color: #141922;
}

header {
    width: calc(100vw - 75px);
    position: fixed;
    left: 75px;
    top: 0;
    z-index: 1;
    background-color: #090B11;
    height: 100px;
    align-content: center;

}

.upgrade-plan {
    display: flex;
    justify-content: right;
}

.logo {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.logo-text {
    display: none;
    font-size: xx-large;
}

.txt-logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
}



/* Utilities */

.mg-10 {
    margin: 10px;
}


/* Style classes */

.ft-white {
    color: #fff;
}

#upgrade-btn {
    padding: 10px 30px;
    background-color: #090B11;
    border: 2px solid #fff;
    border-radius: 30px;
    font-weight: 700;
    margin-right: 5px;
}




/* Media Query */
@media screen and (min-width: 639px) {
    .sidebar {
        width: 200px;
    }

    .main-content {
        width: calc(100vw - 200px);
    }

    header {
        width: calc(100vw - 200px);
        left: 200px;
    }

    .logo-text {
        display: inline;
    }

    .logo {
        font-size: 50px;
    }
}